<!DOCTYPE html>
<html>
  <head>
    <title>Lamevacovatattoo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      body {
        width: 100vw;
        height: 100vh;
      }
      .homeMain {
        height: 80%;
        background-image: url('<%= asset_path("home/homeImage.jpg") %>');
        background-size:contain;
        background-repeat: no-repeat;
      }
    </style>
  </head>

  <body>
    <%= render 'shared/header'  %>
    <main class="container mx-auto mt-28 px-5 flex bg-cover homeMain">
      <%= yield %>
    </main>
  </body>
</html>
